
#errorCode {
  font-weight: bold;
  font-size: 140px;
  color: #888782;
}

#errorContent {
  background-color: #F1F4E1;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 41%;
}

#errorDetailBox {
  color: #d61111;
  text-align: center;
  font-size: 25px;
}
